<!doctype html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <title>HomeDash</title>
   <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
   <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/icons/font/bootstrap-icons.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/slider.css') }}">

   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

   <link href="https://cdn.jsdelivr.net/npm/round-slider@1.6.1/dist/roundslider.min.css" rel="stylesheet" />



</head>

<body>

   <div class="container-fluid">

      {% block content %}
      {% endblock %}

   </div>

   <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.7/umd/popper.min.js"
      integrity="sha512-uaZ0UXmB7NHxAxQawA8Ow2wWjdsedpRu7nJRSoI2mjnwtY8V5YiCWavoIpo1AhWPMLiW5iEeavmA3JJ2+1idUg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="https://cdn.jsdelivr.net/npm/round-slider@1.6.1/dist/roundslider.min.js"></script>

   <!-- Loader -->
   <script src="{{ url_for('static', filename='js/chart.js') }}" type="text/javascript"></script>

   <script src="{{ url_for('static', filename='js/loadScript.js') }}" type="text/javascript"></script>
   <script src="{{ url_for('static', filename='js/slider.js') }}" type="text/javascript"></script>


</body>

</html>